.git
.github
.gitignore
.gitattributes
.editorconfig
.env
.env.backup
.env.*
!.env.example
node_modules
vendor
tests
phpunit.xml
.phpunit.result.cache
npm-debug.log
yarn-error.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
docs
deploy.sh
README.md
